@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: radial-gradient(50% 50% at 50% 50%, #514848 0%, #332e2e 100%);
}

.Hello_Main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Hello_Main img {
    margin-top: 92px;
}

.Hello_Main H1 {
    font-family: 'Press Start 2P';
    font-size: 48px;
    color: #eae2e2;
    margin-top: 48px;
}

p {
    display: inline-block;
}

.Hello_Main-greeting {
    color: hsl(205, 55%, 76%);
}

.Hello_Main-name {
    color: hsl(101, 76%, 68%);
}

.Hello_Main-name::first-letter {
    text-transform: uppercase;
}
